<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8" />
	<title><%= title %></title>
	<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<link rel="stylesheet" href="/stylesheets/font-awesome/font-awesome.min.css" >
</head>
<body>
	<h1><%= title %></h1>
	<p>Welcome to <%= title %></p>
	<ul>
		<% for(var i = 0; i < routes.length; i++) { %>
		<li><a href="<%= routes[i].path %>"><%= routes[i].path %></a></li>
		<% } %>
	</ul>
	<input name="frameworks" list="frameworks" />

	<h1>Lorem ipsum dolor.</h1>
	<h2>Lorem.</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, itaque, eveniet totam ratione consectetur voluptates neque adipisci modi accusamus dolore eum blanditiis vitae sapiente molestiae nesciunt beatae non iure dolorum?</p>

	<h1>Lorem ipsum dolor.</h1>
	<h2>Lorem.</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, itaque, eveniet totam ratione consectetur voluptates neque adipisci modi accusamus dolore eum blanditiis vitae sapiente molestiae nesciunt beatae non iure dolorum?</p>

	<h1>Lorem ipsum dolor.</h1>
	<h2>Lorem.</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, itaque, eveniet totam ratione consectetur voluptates neque adipisci modi accusamus dolore eum blanditiis vitae sapiente molestiae nesciunt beatae non iure dolorum?</p>

	<h1>Lorem ipsum dolor.</h1>
	<h2>Lorem.</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, itaque, eveniet totam ratione consectetur voluptates neque adipisci modi accusamus dolore eum blanditiis vitae sapiente molestiae nesciunt beatae non iure dolorum?</p>

	<h1>Lorem ipsum dolor.</h1>
	<h2>Lorem.</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, itaque, eveniet totam ratione consectetur voluptates neque adipisci modi accusamus dolore eum blanditiis vitae sapiente molestiae nesciunt beatae non iure dolorum?</p>

	<h1>Lorem ipsum dolor.</h1>
	<h2>Lorem.</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, itaque, eveniet totam ratione consectetur voluptates neque adipisci modi accusamus dolore eum blanditiis vitae sapiente molestiae nesciunt beatae non iure dolorum?</p>

	<h1>Lorem ipsum dolor.</h1>
	<h2>Lorem.</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, itaque, eveniet totam ratione consectetur voluptates neque adipisci modi accusamus dolore eum blanditiis vitae sapiente molestiae nesciunt beatae non iure dolorum?</p>

	<h1>Lorem ipsum dolor.</h1>
	<h2>Lorem.</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, itaque, eveniet totam ratione consectetur voluptates neque adipisci modi accusamus dolore eum blanditiis vitae sapiente molestiae nesciunt beatae non iure dolorum?</p>

	<datalist id="frameworks">
		<option value="MooTools"/>
		<option value="Moobile"/>
		<option value="Dojo Toolkit"/>
		<option value="jQuery"/>
		<option value="YUI"/>
	</datalist>
	<a href="tel:1-408-555-5555">1-408-555-5555</a>
	<a href="sms:1-408-555-1212">New SMS Message</a>

	<a href="/files/adlafjlxjewfasd89asd8f.pdf" download="expenses.pdf">Download Your Expense Report</a>

	<a href="sms:1-408-555-1212" class="fa fa-cog">New SMS Message</a>
	<i class="fa fa-cog fa-spin"></i>COG
</body>
</html>
